:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --olxGreenPrimary: #00262a;
  --olxGreenSecondary: #0c4b42;
  --bgPrimary:#181a1b;
  --bgSecondary:#1c2225;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  background-color: var(--bgPrimary);

}

/* Navbar */
#navbar{
  display: flex;
  justify-content: space-between;
  background-color: var(--olxGreenPrimary)
}
#navbarLogo{
  margin: 1% 0 0 9%;
}

#navbarButtons{
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
}
.navbarButton{
  margin-right: 50px;
  white-space: nowrap;
}
#navbarNewItem{
  margin-right: 140px;
}

/* Searchbar */
#search {
  background-color: var(--bgSecondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0 3% 0;
}
#ItemSearchbar{
  width: 50%;
}
#ItemSearchbarInput{
  width: 100%;
}
#LocationMenu{
  width: 25%;
}
#LocationMenuInput{
  width: 100%;
}
.searchInput {
  background-color: var(--bgPrimary);
  border: none;
  padding: 25px;
  color: white;
  text-decoration: none;
  display: inline-block;
  outline: none;
  height: 75px;
}

#SearchButton {
  cursor: pointer;
  transition: background-color 0.3s;
  transition-timing-function: ease;
  }
  
  #SearchButton :hover {
  background-color: var(--olxGreenPrimary);
  }


::placeholder {
  color: white;
}

/* Categories */
#categories{
  padding-left: 10%;
  padding-right: 10%;

  margin-top: 5%;
  text-align: center;
  /* display: flex;
  justify-content: center; */
}



.categoryCardsWrapper{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,125px);
  grid-gap: 2%;
  grid-row-gap: 50px;
  justify-items: center;
  justify-content: center;
}

.categoryCard{
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  font-weight: bold;
  font-size: large;
}
.circle{
  background-color: aquamarine;
  border: #00262a solid 0px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-bottom: 30px;

}