:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --olxGreenPrimary: #00262a;
  --olxGreenSecondary: #0c4b42;
  --bgPrimary:#181a1b;
  --bgSecondary:#1c2225;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  background-color: var(--bgPrimary);

}

/* Navbar */
#navbar{
  display: flex;
  justify-content: space-between;
  background-color: var(--olxGreenPrimary)
}
#navbarLogo{
  margin: 1% 0 0 9%;
}

#navbarButtons{
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
}
.navbarButton{
  margin-right: 50px;
  white-space: nowrap;
}
#navbarNewItem{
  margin-right: 140px;
}

/* Searchbar */
#search {
  background-color: var(--bgSecondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0 3% 0;
}
#ItemSearchbar{
  width: 50%;
}
#ItemSearchbarInput{
  width: 100%;
}
#LocationMenu{
  width: 25%;
}
#LocationMenuInput{
  width: 100%;
}
.searchInput {
  background-color: var(--bgPrimary);
  border: none;
  padding: 25px;
  color: white;
  text-decoration: none;
  display: inline-block;
  outline: none;
  height: 75px;
}

#SearchButton {
  cursor: pointer;
}

@keyframes colorFade {
  0%   { background-color: inherit; }
  100% { background-color: var(--olxGreenPrimary); }
}

#SearchButton :hover {
  animation: colorFade 1s cubic-bezier(0.42, 0, 1, 1);;
/* Poprawić animiacje */
}

::placeholder {
  color: white;
}
