:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --olxGreenPrimary: #00262a;
  --olxGreenSecondary: #0c4b42;
  --bgPrimary:#181a1b;
  --bgSecondary:#1c2225;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  background-color: var(--bgPrimary);

}

/* Navbar */
#navbar{
  display: flex;
  justify-content: space-between;
  background-color: var(--olxGreenPrimary)
}
#navbarLogo{
  margin: 1% 0 0 9%;
}

#navbarButtons{
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
}
.navbarButton{
  margin-right: 50px;
  white-space: nowrap;
}
#navbarNewItem{
  margin-right: 140px;
}

/* Searchbar */
#search {
  background-color: var(--bgSecondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0 3% 0;
}
#ItemSearchbar{
  width: 50%;
}
#ItemSearchbarInput{
  width: 100%;
}
#LocationMenu{
  width: 25%;
}
#LocationMenuInput{
  width: 100%;
}
.searchInput {
  background-color: var(--bgPrimary);
  border: none;
  padding: 25px;
  color: white;
  text-decoration: none;
  display: inline-block;
  outline: none;
  height: 75px;
}

#SearchButton {
  cursor: pointer;
  transition: background-color 0.3s;
  transition-timing-function: ease;
  }
  
  #SearchButton :hover {
  background-color: var(--olxGreenPrimary);
  }


::placeholder {
  color: white;
}

/* Categories */
#categories{


  margin-top: 5%;
  text-align: center;
  /* display: flex;
  justify-content: center; */
}



.categoryCardsWrapper{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit,125px);
  grid-gap: 2%;
  grid-row-gap: 50px;
  justify-items: center;
  justify-content: center;
}

.categoryCard{
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  font-weight: bold;
  font-size: large;
}
.circle{
  background-color: aquamarine;
  border: #00262a solid 0px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;

}


/* Item Page */
#itemPageContainer{
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left right";
  grid-gap: 20px;
  
}
#itemPageLeft {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#itemPageRight {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemPageElement{
  width: 100%;
  background-color: var(--bgSecondary);
  margin-top: 20px;
  border: 0 black solid;
  border-radius: 3px;
  padding: 20px;

}

#itemImgContainer{
  height: 650px;
}


/* Item Info */
#itemInfo{
  padding: 25px 20px 30px 20px;
}
#itemInfoWrapperTop{
  display: flex;
  justify-content: space-between;
}

#itemInfoDate{
  font-size: x-small;
}

#itemInfoName{
  font-weight:400;
}

#itemInfoPrice{
  margin-top: 10px;
  margin-bottom: 15px;

}

#itemInfoDescription{
  margin-top: 10px;
  font-size:smaller;
  
}

#itemInfoWrapperBottom{
  border-top: solid 1px gray;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#itemInfoId{
  font-size: x-small;
  margin-top: 10px;

}

#itemLogIn{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  height: 90px;
  font-size:smaller;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}


/* #itemContact h5{
  font-weight:normal;
} */
#itemContactWrapper{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#itemSellerInfoWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#itemSellerInfoSellerScore{
  background-color: #083a38;
  border: 0px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size:smaller;

}

#itemSellerInfoSellerScoreWrapper{
  margin-bottom: 10px;
  display: flex;
  justify-content:start;

}

#itemSellerInfoMoreFromSeller{

  font-size:smaller;

}


#itemLocationWrapper{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#itemLaws{
  font-size:small ;
  color: lightgrey;
}
#itemLaws p{
  margin-top: 10px;
}
#itemLaws li{
  margin-left: 20px;
}
#itemLaws h6,h5{
  font-size: initial;
}


/* LoginPage */

#loginPageContainer{
  background-color:#0034a9 ;
  display: flex;
  justify-content: center;
  align-items:center ;
}
#loginPageBox{
  background-color: var(--bgPrimary);
}